In [885]:
import gzip
from collections import defaultdict
import sklearn
from sklearn import linear_model
from sklearn import ensemble
import string
import re
import datetime, time
import matplotlib.pyplot as plt
import numpy as np
import matplotlib.dates as md
import math
import pandas as pd

In [742]:
#####
# Setup
#####

In [743]:
def readCSV(path):
    f = open(path, 'rt')
    f.readline()

    for l in f:
        
        if l.startswith("timestamp"): 
            continue

        try: 
            timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,stockgrantvalue,bonus,gender,otherdetails,cityid,dmaid,rowNumber,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education = re.split(r',(?![ ])', l)

        except:
            continue

        yield timestamp,company,level,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,stockgrantvalue,bonus,gender,otherdetails,cityid,dmaid,rowNumber,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College,Race_Asian,Race_White,Race_Two_Or_More,Race_Black,Race_Hispanic,Race,Education

In [744]:
def MSE(predictions, labels):
    differences = [(x-y)**2 for x,y in zip(predictions,labels)]
    return sum(differences) / len(differences)

In [745]:
#####
# Parse data from dataset
#####

In [746]:
# id , unixtime, company, level, title, total_comp, city, state, experience, tenure, tag, 
# salary, stock, bonus, city_id, dma_id, ms_deg, bs_deg, phd_deg, hs, college
def parseSalaryRaw(salaryRaw):
    salaryAllData = []

    for entry in salaryRaw:

        date, clocktime = entry[0].split(' ')
        date = date.split('/')
        clocktime = clocktime.split(':')
        timestamp = datetime.datetime(int(date[2]), int(date[0]), int(date[1]), int(clocktime[0]), int(clocktime[1]), int(clocktime[2]))
        timestamp = int(time.mktime(timestamp.timetuple()))


        company = entry[1]
        level = entry[2]
        title = entry[3]

        total_comp = int(float(entry[4]))

        location = entry[5]
        if location.count(',') == 2:
            city, state, country = location.strip('"').split(', ')
        elif location.count(',') == 1:
            city, state = location.strip('"').split(', ')
            country = 'USA'

        experience = entry[6]
        tenure = entry[7]

        tag = entry[8]

        salary = int(float(entry[9]))
        if salary == 0:
            continue

        stock = int(float(entry[10]))
        bonus = int(float(entry[11]))

        g = entry[12]
        gender = -1
        if g == 'Female':
            gender = 0
        elif g == 'Male':
            gender = 1
        elif g == 'Other':
            gender = 2

        city_id = int(entry[14])

        try: 
            dma_id = int(entry[15])
        except:
            dma_id = -1

        id = int(entry[16])

        ms_deg = int(entry[17])
        bs_deg = int(entry[18])
        phd_deg = int(entry[18])
        hs = int(entry[19])
        college = int(entry[20])

        r = entry[27]
        race = -1
        if r == 'Asian':
            race = 0
        elif r == 'Black':
            race = 1
        elif r == 'Hispanic':
            race = 2
        elif r == 'Two Or More':
            race = 3
        elif r == 'White':
            race = 4


        salaryAllData.append({
            'id': id,
            'timestamp': timestamp,
            'company': company,
            'level': level,
            'title': title,
            'total_comp': total_comp,
            'city': city,
            'state': state,
            'country': country,
            'experience': experience,
            'tenure': tenure,
            'tag': tag,
            'salary': salary,
            'stock': stock,
            'bonus': bonus,
            'gender': gender,
            'city_id': city_id,
            'dma_id': dma_id,
            'ms_deg': ms_deg,
            'bs_deg': bs_deg,
            'phd_deg': phd_deg,
            'hs': hs,
            'college': college,
            'race': race,
        })
    return salaryAllData

In [747]:
# Reparse data from CSV so we don't mess up above data
salaryRaw = []
for l in readCSV("Levels_Fyi_Salary_Data.csv"):
    salaryRaw.append(l)

salaryAllData = parseSalaryRaw(salaryRaw)
salaryAllData[0]['id']

1

In [748]:
# Parse raw data
salaryAllData = parseSalaryRaw(salaryRaw)

In [749]:
#####
# Training, Validation, and Test sets
#####

# shuffle data
shuffledAllData = sklearn.utils.shuffle(salaryAllData)
shuffledAllData[0]['id']

# create 80 / 10 / 10 : Train / Validation / Test sets
X = shuffledAllData
y = [d['salary'] for d in shuffledAllData]

X_train, X_temp, y_train, y_temp = sklearn.model_selection.train_test_split(X, y, test_size=0.2, random_state=1)
X_valid, X_test, y_valid, y_test = sklearn.model_selection.train_test_split(X_temp, y_temp, test_size=0.5, random_state=1)

# Validate that sets were created with propper sizes
print(str(len(X_train)) + ", " + str(len(y_train)))
print(str(len(X_valid)) + ", " + str(len(y_valid)))
print(str(len(X_test)) + ", " + str(len(y_test)))

# Validate all ids are different
print(str(X_train[0]['id']) + ", " + str(X_valid[0]['id']) + ", " + str(X_test[0]['id']))

47996, 47996
6000, 6000
6000, 6000
55671, 64410, 42346

In [750]:
#####
# Baselines
#   1. Predict average salary in dataset
#   2. Predict average salary for given Years of Experience
#####

In [751]:
# Create some useful collections for these baseline

# create YOE to Average Map based on training data
# We create two dictionaries to track the total salary seen at each YOE
salByExpMap = defaultdict(int)

# And the number of salaries seen at that YOE
entriesByExpMap = defaultdict(int)

# For each entry increment the total sal and num entries at that YOE
# (This could be done with a running avg technique but that is too much work to code)
for x in X_train:
    exp, sal = float(x['experience']), float(x['salary'])
    exp = math.ceil(exp)
    
    total = 0
    numEntries = 0
    
    if salByExpMap[exp]:
        total = salByExpMap[exp]
    if entriesByExpMap[exp]:
        numEntries = entriesByExpMap[exp]
    
    total += sal
    numEntries += 1
    
    salByExpMap[exp] = total
    entriesByExpMap[exp] = numEntries
    

    
# Calculate averages by YOE as well as total avg
totalSal = 0
totalCount = 0

averageSalaryByYoeMap = defaultdict(int)
for exp in entriesByExpMap:
    avg = salByExpMap[exp] / entriesByExpMap[exp]
    averageSalaryByYoeMap[exp] = avg
    
    totalSal += salByExpMap[exp]
    totalCount += entriesByExpMap[exp]

avgSal = totalSal / totalCount

print("Average salary: " + str(avgSal))


def pred_baseline1(x):    
    return avgSal
    
def pred_baseline2(x):    
    exp = math.ceil(float(x['experience']))

    if averageSalaryByYoeMap[exp]:
        return averageSalaryByYoeMap[exp]
    else:
        return avgSal

Average salary: 141855.2385615468

In [752]:
def baseline1():
    # Returns average salary in dataset
    y_b1 = []
    y_b1_pred = []
    
    avg_err = 0
    avg_percent_err = 0
    
    for d in X_valid:
        pred = pred_baseline1(d)
        actual = d['salary']
        
        y_b1_pred.append(pred)
        y_b1.append(actual)
        
        avg_err += abs(actual - pred)
        avg_percent_err += abs(100 * ((pred - actual) / actual))
        
    mse = MSE(y_b1_pred, y_b1)
    
    avg_err = avg_err / len(X_valid)
    avg_percent_err = avg_percent_err / len(X_valid)
    
    return mse, avg_err, avg_percent_err

In [753]:
mse_b1, avg_err_b1, avg_percent_err_b1 = baseline1()
print(mse_b1)
print(avg_err_b1)
print(avg_percent_err_b1)

3810667312.3330865
40646.59094009222
49.61818054744575

In [754]:
def baseline2():
    # Takes rounded YOE for each datapoint and predicts average salary for that YOE
    # If there are no entries for that YOE, predict overall average
    y_b1 = []
    y_b1_pred = []
    
    avg_err = 0
    avg_percent_err = 0
    
    for d in X_valid:
        pred = pred_baseline2(d)
        actual = d['salary']
        
        y_b1_pred.append(pred)
        y_b1.append(actual)
        
        avg_err += abs(actual - pred)
        avg_percent_err += abs(100 * ((pred - actual) / actual))
        
    mse = MSE(y_b1_pred, y_b1)
    
    avg_err = avg_err / len(X_valid)
    avg_percent_err = avg_percent_err / len(X_valid)
    
    return mse, avg_err, avg_percent_err

In [755]:
mse_b2, avg_err_b2, avg_percent_err_b2 = baseline2()
print(mse_b2)
print(avg_err_b2)
print(avg_percent_err_b2)

3168792250.6055994
35332.91281493425
43.34792759896713

In [756]:
#####
# Model
#####

In [757]:
#####
# Provide a description of your model:
#      1. What model are you using
#      2. What information are you trying to incorporate into your model
#      3. How are you building your feature vector?
#      4. What interesting pieces of information did you learn? (i.e. most influential words, popular cities, etc)
#####

# Write description in comments here

In [758]:
# Model code starts here

In [985]:
def feat(d):
    exp = float(d['experience'])
    ten = float(d['tenure'])
    if d['hs'] == 1:
        edu = 12.0
    elif d['college'] == 1:
        edu = 14.0
    elif d['bs_deg'] == 1:
        edu = 16.0
    elif d['ms_deg'] == 1:
        edu = 18.0
    elif d['phd_deg'] == 1:
        edu = 21.0
    else:
        edu = 16.0
    return [1, exp, ten, edu]

In [986]:
def standardize(Xvector):
    a = np.array(Xvector)
    b = a/np.max(a, axis=0)
    return b.tolist()

In [987]:
def percent_err(y, pred):
    tot = 0
    for actual, pred in zip(y, pred):
        tot += abs(100 * ((pred-actual) / actual))
    avg = tot/len(y)
    return avg

In [988]:
X1 = standardize([feat(d) for d in X_train])
X2 = standardize([feat(d) for d in X_valid])
X3 = standardize([feat(d) for d in X_test])

y1 = [d['salary'] for d in X_train]
y2 = [d['salary'] for d in X_valid]
y3 = [d['salary'] for d in X_test]

In [989]:
# Linear Regression Model

In [1006]:
mod = linear_model.LinearRegression(fit_intercept=False)
mod.fit(X1, y1)

LinearRegression(fit_intercept=False)

In [1007]:
pred = mod.predict(X2)

In [1019]:
df = pd.DataFrame({'actual': y2, 'predicted': pred})
df

      actual      predicted
0     200000  185287.643980
1      78000  185287.643980
2     131000  167910.781423
3     110000  132732.887036
4     126000  185287.643980
...      ...            ...
5995  149000  159661.036186
5996  150000  185287.643980
5997  150000  142180.381887
5998  118000  163381.456450
5999  145000  184322.556415

[6000 rows x 2 columns]

In [1009]:
percent_err(y2, pred), MSE(y2, pred)

(42.330856981431346, 3369834107.5561485)

In [1010]:
# Gradient Boosting Regression Model

In [1011]:
params = {
    "n_estimators": 450,
    "max_depth": 1,
    "min_samples_split": 4,
    "learning_rate": 0.02,
    "loss": "squared_error",
    "n_iter_no_change" : 10,
    "subsample" : 0.9
}

In [1012]:
reg = ensemble.GradientBoostingRegressor(**params)
reg.fit(X1, y1)

GradientBoostingRegressor(learning_rate=0.02, max_depth=1, min_samples_split=4,
                          n_estimators=450, n_iter_no_change=10, subsample=0.9)

In [1013]:
pred = reg.predict(X2)

In [1014]:
percent_err(y2, pred), MSE(y2, pred)

(41.41539613920057, 3241458467.121)

In [1015]:
# LR model performance on test test

In [1016]:
pred = mod.predict(X3)
percent_err(y3, pred), MSE(y3, pred)

(41.88857385904443, 2430803134.8506627)

In [1017]:
# GBR model performance on test set

In [1020]:
pred = reg.predict(X3)
percent_err(y3, pred), MSE(y3, pred)

(41.43160202376143, 2354521847.3883953)

In [1029]:
df = pd.DataFrame({'actual': y3, 'predicted': pred})
df

      actual      predicted
0     105000  185287.643980
1     172000  185287.643980
2     190000  167910.781423
3     115000  132732.887036
4     160000  185287.643980
...      ...            ...
5995  208000  159661.036186
5996  150000  185287.643980
5997  225000  142180.381887
5998  120000  163381.456450
5999  140000  184322.556415

[6000 rows x 2 columns]